<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS stuff -->
    <!-- Link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <title>Accessibility</title>
</head>

<body>
    <h1>Accessible Media Player</h1>

    {{!-- Navigation --}}
    <nav>
        <ul>
            <li><a href="1" class="navLink">Movie</a></li>
            <li><a href="2" class="navLink">TV</a></li>
            <li><a href="3" class="navLink">Music</a></li>
        </ul>
    </nav>

    {{!-- Page Content --}}
    <main>
        {{{ body }}}
    </main>

    <script> </script>
    <script type="module" src="js/main.js"></script>
</body>

</html>